<div class="row text-center mt-2">

    <div class="col-12 text-right">
        <img src="assets/flag-pt-br.svg" alt="ptbr" id="ptbrlogo" class="mr-1" (click)="turnLanguageToPortuguese()">
        <img src="assets/flag-en.svg" alt="ptbr" id="enlogo" (click)="turnLanguageToEnglish()">
    </div>

    <div class="col-12 imageHeader">
        <a href="https://vizir.com.br/" target="_blank">
            <img src="assets/vizir-logo.png" alt="vizirLogo" id="vizirLogo">
        </a>
    </div>

    <div id="separator"></div>

</div>

<div class="row justify-content-center">
    <div class="col text-center mt-3">
        <button type="button" id="buttonToTableActionShow" class="btn btn-secondary" (click)="showValuesTable()" *ngIf="!verValores; else esconderValores">{{ptbrLanguage ? 'VISUALIZAR PREÇOS' : 'SHOW PRICES'}}</button>

        <ng-template #esconderValores>
            <button type="button" id="buttonToTableActionHide" class="btn btn-secondary" (click)="showValuesTable()">{{ptbrLanguage ? 'ESCONDER PREÇOS' : 'HIDE PRICES'}}</button>
        </ng-template>
    </div>
</div>

<div class="row mt-3 justify-content-center scale-in-top" *ngIf="verValores">

    <div class="col-12 text-center">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ptbrLanguage ? 'ORIGEM' : 'ORIGIN'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'DESTINO' : 'DESTINATION'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'R$/MIN' : 'R$/MIN'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>011</td>
                        <td>016</td>
                        <td>1.90</td>
                    </tr>
                    <tr>
                        <td>016</td>
                        <td>011</td>
                        <td>2.90</td>
                    </tr>
                    <tr>
                        <td>011</td>
                        <td>017</td>
                        <td>1.70</td>
                    </tr>
                    <tr>
                        <td>017</td>
                        <td>011</td>
                        <td>2.70</td>
                    </tr>
                    <tr>
                        <td>011</td>
                        <td>018</td>
                        <td>0.90</td>
                    </tr>
                    <tr>
                        <td>018</td>
                        <td>011</td>
                        <td>1.90</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


<div class="row mx-2 mt-3 scale-in-top" *ngIf="!verValores">

    <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label>{{ptbrLanguage ? 'Origem' : 'Origin'}}</label>
            <select class="form-control" [(ngModel)]="origem">
              <option [ngValue]="undefined">{{ptbrLanguage ? 'SELECIONE' : 'SELECT'}}</option>
              <option [ngValue]="11">011</option>
              <option [ngValue]="16">016</option>
              <option [ngValue]="17">017</option>
              <option [ngValue]="18">018</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label>{{ptbrLanguage ? 'Destino' : 'Destination'}}</label>
            <select class="form-control" [(ngModel)]="destino">
              <option [ngValue]="undefined">{{ptbrLanguage ? 'SELECIONE' : 'SELECT'}}</option>
              <option [ngValue]="11">011</option>
              <option [ngValue]="16">016</option>
              <option [ngValue]="17">017</option>
              <option [ngValue]="18">018</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label>{{ptbrLanguage ? 'Minutos' : 'Minutes'}}</label>
            <input type="number" class="form-control" [(ngModel)]="minutos" placeholder="Ex: 10">
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label>{{ptbrLanguage ? 'Plano' : 'Plan'}}</label>
            <select class="form-control" [(ngModel)]="plano">
                <option [ngValue]="undefined">{{ptbrLanguage ? 'SELECIONE' : 'SELECT'}}</option>
                <option *ngFor="let plano of planos" [ngValue]="plano.id">{{ptbrLanguage ? plano.descricaoPtBr : plano.descricaoEnglish}}</option>
            </select>
        </div>
    </div>

    <div class="col text-center mt-3">
        <button type="button" id="buttonToCalculateCharge" class="btn btn-success" (click)="calculateCharge()">{{ptbrLanguage ? 'SIMULAR' : 'SIMULATE'}}</button>
        <button type="button" id="buttonToShowLog" class="btn btn-dark ml-2" *ngIf="hasLogToShow; else semHistorico" (click)="showLogTableOnClick()">{{ptbrLanguage ? 'HISTÓRICO' : 'HISTORY'}}</button>
        <ng-template #semHistorico>
            <button type="button" id="buttonToShowLogDisabled" class="btn btn-light ml-2" disabled>{{ptbrLanguage ? 'HISTÓRICO' : 'HISTORY'}}</button>
        </ng-template>
    </div>

</div>

<div class="row justify-content-center slide-in-right mt-3" *ngIf="showLogTable">
    <div class="col-12 text-center">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ptbrLanguage ? 'ORIGEM' : 'ORIGIN'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'DESTINO' : 'DESTINATION'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'MINUTOS' : 'MINUTES'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'SEM PLANO' : 'WITHOUT PLAN'}}</th>
                        <th scope="col">{{ptbrLanguage ? 'COM PLANO' : 'WITH PLAN'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of phoneCallLog">
                        <td>0{{item.origem}}</td>
                        <td>0{{item.destino}}</td>
                        <td>{{item.minutos}}</td>
                        <td>R$ {{item.resultSemPlanoFixed}}</td>
                        <td id="resultComPlano">R$ {{item.resultComPlanoFixed}} ({{ptbrLanguage ? item.plano.descricaoPtBr : item.plano.descricaoEnglish}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>