/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: principalFont;
    src: url('./assets/Poppins-Regular.ttf');
}

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
p,
a,
h1,
h2,
h3,
h4,
h5,
small,
span,
table,
td,
th {
    font-family: principalFont;
}